<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHEETS API NODE JS</title>

    <!-- BOOTSTRAP -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- PLUGINS --> 
    <script src ="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel ="stylesheet" href ="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css"> 
    
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ADD STUFF</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
        </div>
        </nav><br><br>
    <div class="container">
        <div class="card">
            <div class="card-header">
            Add a new item
            </div>
            <div class="card-body">
                <form id="sheet-form" class="needs-validation" novalidate>

                    <!-- ========= Required fields ========= -->
                    <div class="form-group">
                        <label>Item</label>
                        <input type="text" class="form-control" id="item" name="item" placeholder="Item name" required>
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-select" id="type" name="type">
                            <% for(var i=0; i < expenseTypes.length; i++) { %>
                                <option value='<%= expenseTypes[i] %>'><%= expenseTypes[i] %></option>
                            <% } %>
                        </select>
                    </div>

                    <!-- DATE MUST BE GENERATED AUTOMATICALLY -->

                    <div class="form-group">
                        <label>Currency</label>
                        <select class="form-select" id="currency" name="currency">
                            <% Object.keys(currencies).forEach(function(prop) { %>
                                <option value='<%- prop %>'><%- currencies[prop] %></option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>

                    <!-- ========= Optional fields ========= -->
                    <hr>
                    <div class="form-group">
                        <label>Notes</label>
                        <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
                        <input class="form-check-input" type="checkbox" value="" id="set-gps">
                        <label class="form-check-label" for="set-gps">
                            Add GPS coords
                        </label>
                        <p id="gps-info"></p>
                    </div>

                    <div class="form-group">
                        <label>Beginning</label>
                        <div class="input-group date">
                            <input type="text" name="beginning" class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>End</label>
                        <div class="input-group date">
                            <input type="text" name="end" class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <br>
                    <!-- <button type="button" class="btn btn-primary" id="submitButton">Submit</button> -->
                    <button class="btn btn-primary btn-sm" id="submit">Submit</button>
                    <button type="reset" class="btn btn-secondary btn-sm" onclick="resetNotes()">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <!-- POST Modal -->
    <div class="modal fade" id="resultModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Result</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <p id="resultMessage"></p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Supplemental scripts -->
    <script>
        const dateFormat = "dd.mm.yyyy";

        var checkbox = document.getElementById("set-gps");
        var notes = document.getElementById("notes");

        function resetNotes() {
            notes.disabled = false
        }

        // GPS thing
        var notes = "";
        $("#set-gps").click(function () {
            $("#notes").prop("disabled", $("#set-gps").is(":checked"))

            if ($("#set-gps").is(":checked")) {
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var latitude = position.coords.latitude;
                        var longitude = position.coords.longitude;
                        var notes = latitude + ", " + longitude;
                        updateGpsInfo(notes)
                    });
                } else {
                    updateGpsInfo("Geolocation unavailable.", true);
                    notes = $("#notes").val();
                }
            } else {
                updateGpsInfo(null, false, true) // Clear
                notes = $("#notes").val();
            }
        });

        function updateGpsInfo(text, isWarning, clear) {
            const gpsInfo = $("#gps-info");
            if (clear) {
                gpsInfo.text('');
                gpsInfo.removeClass("alert alert-warning");
                return
            }

            gpsInfo.text(text);
            if (isWarning) {
                gpsInfo.addClass("alert alert-warning");
            } else {
                gpsInfo.removeClass("alert alert-warning");
            }
        }

        // Datepicker
        let datepickerOptions = {
            format: dateFormat,
            todayBtn: true,
            autoclose: true,
            todayHighlight: true
        }

        $(document).ready(function () {
            $('.input-group.date').datepicker(datepickerOptions);
        })

        // Form validation
        var forms = document.querySelectorAll('.needs-validation')
        let isValid = false
    
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                console.info("Validating form")
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    isValid = false
                } else {
                    isValid = true
                }
        
                form.classList.add('was-validated')
            }, false)
        })

        // POSTing
        $(document).ready(function () {
            $('#submit').click(function () {
                if (!isValid) {
                    console.error("Form submit: Validity flag not set.")
                    return
                }

                const formData = {
                    // Required
                    item: $('#name').val(),
                    type: $('#type').val(),
                    date: $.datepicker.formatDate(dateFormat, new Date()),
                    currency: $('#currency').val(),
                    amount: $('#amount').val(),

                    // Optionals
                    notes: notes,
                    beginning: $('#beginning').val(),
                    end: $('#end').val()
                };
        
                const jsonData = JSON.stringify(formData);
                console.info("jsonData:", jsonData)
        
                // Send a POST request to the server
                /*
                fetch('/sheet', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: jsonData,
                })
                    .then(response => response.json())
                    .then(data => {
                        const resultMessage = `Response from server: ${JSON.stringify(data)}`;
                        $('#resultMessage').html(resultMessage);
        
                        $('#resultModal').modal('show');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                */
            });
        });
    </script>
</body>
</html>